<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        GitHired
      </h1>
      <h2 class="subtitle">
        GitHub Jobs Keyword Search
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <div class="field search-form">
          <%= render 'form' %>
        </div>
        <div class="search-results-header"></div>
        <div class="search-history"></div>
      </div>
      <div class="column is-offset-1 is-3">
        <div class="previous-searches"></div>
        <br>
        <div class="search-stats"></div>
      </div>
    </div>
  </div>
</section>
